// ==========================================================================
// Theme Custom Variables
// ==========================================================================

// Colors
$gray-dark     : #333;
$brand-primary : #111;

// Typography
$font-family-sans-serif : 'Open Sans', sans-serif;

// Grid System
$container-sm: 990px;
$container-md: 990px;
$container-lg: 990px;
