// ==========================================================================
// Theme Custom Variables
// ==========================================================================

// Colors
$gray-dark     : #333;
$brand-primary : #111;

// Typography
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
$font-family-sans-serif : 'Open Sans', sans-serif;

// Grid System (non-responsible)
//$container-sm: 990px;
//$container-md: 990px;
//$container-lg: 990px;
