// ==========================================================================
// Theme Custom Variables
// ==========================================================================

// Colors
$gray-dark     : #333;
$brand-primary : #111;

// Typography
$font-family-sans-serif : 'Open Sans', sans-serif;
